* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: 555;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(/img/home-shape.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/home-shape.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
